<h3 class="student-show-link"><%= link_to "<< Back", admin_cohort_path(@cohort) %></h3>
<h1><%= @student.full_name %></h1>
<h3 class="student-show-link"><%= link_to "Learn Profile", @student.learn_profile, target: :_blank %></h3>
<br/>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="student-show-text-small">Notes</th>
      <th scope="col" class="student-show-text-small">Date</th>
      <th scope="col" class="student-show-text-small">Time</th>
      <th scope="col" class="student-show-text-small">Current Lesson</th>
      <th scope="col" class="student-show-text-small">Completed Lessons</th>
      <th scope="col" class="student-show-text-small">Struggling?</th>
      <th scope="col" class="student-show-text-small">Behind Schedule?</th>
      <th scope="col" class="student-show-text-small">Knowledge Check</th>
      <th scope="col" class="student-show-text-small">Note</th>
      <th scope="col" class="student-show-text-small">Doc</th>
      <th scope="col" class="student-show-text-small">Instructor App</th>
    </tr>
  </thead>
  <tbody>
    <% @student.meetings.sort_by{|meeting| meeting.date}.each.with_index(1) do |meeting, i| %>
      <tr>
        <td scope="col" class="student-show-text-small"><%= i %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.date %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.time %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.current_lesson %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.completed_lessons %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.struggling ? 'Yes' : 'No' %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.behind_schedule ? 'Yes' : 'No' %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.knowledge_check %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.note %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.added_to_doc? ? "Added" : "Not Added" %></td>
        <td scope="col" class="student-show-text-small"><%= meeting.added_to_instructor_app? ? "Added" : "Not Added" %></td>
      </tr>
    <% end %>
  </tbody>
</table>