<h3 class="cohort-link"><%= link_to "<< To Cohorts", admin_cohorts_path %></h3>
<h3 class="cohort-link"><%= link_to "<< To Users", admin_users_path %></h3>
<h1><%= @cohort.name %></h1>
<h4><%= @cohort.batch_id ? (link_to "Learn Batch: #{@cohort.batch_id}", "https://learn.co/batches/#{@cohort.batch_id}", target: :_blank) : "" %></h4>
<h3>Cohort Lead: <%= @cohort.instructor.full_name %></h3>
    <br/>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student Name</th>
          <th scope="col">Email</th>
          <th scope="col">Slack</th>
          <th scope="col">Learn Profile</th>
          <th scope="col">Instructor App</th>
          <th scope="col">Completed Lessons</th>
          <th scope="col">Current Lesson</th>
        </tr>
      </thead>
      <tbody>
        <% @cohort.current_students.sort_by{|s| s.first_name}.each.with_index(1) do |student, i| %>
          <tr>
            <th scope="row"><%= i %></th>
            <td class="cohort-link"><%= link_to student.full_name, admin_cohort_student_path(@cohort, student) %></td>
            <td><%= student.email %></td>
            <td><%= student.slack_username %></td>
            <td class="cohort-link"><%= student.learn_profile ? (link_to student.learn_profile, target: :_blank { image_tag "learn_image.png", class: "img-sm", width: "32px", height: "32px" }) : "" %></td>
            <td class="cohort-link"> <%= student.github_username ? (link_to "https://instruction.learn.co/staff/students/#{student.github_username}", target: :_blank { image_tag "instructor-app-icon.png",  class: "img-sm", width: "32px", height: "32px" }) : "" %></td>
            <td><%= student.total_lessons_completed %></td>
            <td><%= student.meetings.length > 0 ?  student.current_lesson : "N/A" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>