<!DOCTYPE html>
<html>
  <head>
    <title>FlatironCohortApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% if flash[:error] || flash[:warning] || flash[:success] %>
      <ul class="errors">
        <% if flash[:error] %>
          <li><%= flash[:error] %></li>
        <% elsif flash[:warning] %>
          <li><%= flash[:warning] %></li>
        <% else %>
          <li><%= flash[:success] %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
